@import '../../node_modules/uswds/dist/scss/uswds.scss';
$red: #C8002C;
$dark-blue: #004469;
$light-blue: #0078AC;
$gray: #4A4A4A;
$button-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

a, a:visited, a:-webkit-any-link{
		text-decoration:none !important;
}

@mixin hoverable() {
	cursor: pointer;
	box-shadow: $button-shadow;
}

p{
	font-family: 'Source Sans Pro', sans-serif;
  	font-weight: 200;
  	color: $gray;
}
h1{
	font-size: 25px;
	color: $gray;
}
.constrained-p{
	max-width: 512px;
}
button{
	border-radius: 0px;
  	min-height: 59px;
  	min-width: 237px;
  	display: inline;
  }
 .unfilled-button-red, .unfilled-button-blue{
 	background-color: white;
 	border: 3px solid;
 }
 .unfilled-button-red{
  	color: $red;
  }
 .unfilled-button-red:hover{
 	color: white;
 	background-color: $red;
 	border: 3px solid $red;
 }
 .unfilled-button-blue{
  	color: $dark-blue;
  }
  .blue-section{
  	background-color: $light-blue;
  	color: white;
  	p{
  		color: white;
  	}
}
 .white-section, .blue-section{
  	padding: 270px 0px;
 	h2{
 		font-size: 25px;
 	}
 	h3{
 		text-transform: uppercase;
 		font-family: "Source Sans Pro";
 	}
 	p{
 		font-size: 18px;
 	}
 }

nav{
	background-color: $dark-blue;
	width: 100%;
	height: 70px;
	#logo{
		margin-left: 3%;
		width: 120px;
		margin-top: 14px;
	}
	#links{
		float: right;
		margin-top: 22px;
			:hover{
				cursor: pointer;
				opacity: .8;
			}
			a{
				font-size: 16px;
				font-weight: 600;
				text-decoration: none;
				color: #F6F6F6;
				margin-right: 76px;
				letter-spacing: .5px;
			}
	}
}


@media (max-width: 690px) {
	nav {
		#links{
		float: right;
		width: 65%;
		margin-right: 5%;
		a{
			display: block;
			float: left;
			text-align: center;
			width: 40%;
			margin-right: 0px;
			}
		#see-the-projects{
			width: 60%;
		}
		#home-link{
			display: none;
		}
		}
		img{
			margin-left: 5%;
			margin-right: 0px;
			max-width: 25%;
		}
	}

}


#splash{
	width: 100vw;
	text-align: center;
	height: calc(100vh - 70px);
	min-height: 400px;
	background-image: url(../img/hero.png);
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	h1{
  		color: #E3E3E3;
  		text-align: center;
  		font-size: 35px;
  		margin-bottom: 27px;
  		margin-top: calc(50vh - 70px - 115px);
  	}
  	p{
  		color: #F6F6F6;
  		max-width: 577px;
  		text-align: center;
  		margin: auto;
  		font-size: 20px;
  		margin-bottom: 42px;
  		font-family: 'Source Sans Pro', sans-serif;
  		font-weight: 200;
  	}
  	#learn-more, #start-a-project{
  		display: inline;
  	}
  	#learn-more{
  		background-color: $red;
  		margin-right: 100px;
  		box-shadow: $button-shadow;
  	}
  	@media (max-width: 940px) {
  		#learn-more{
  			margin-right: 10px;
  		}
  	}
  	#start-a-project{
  		background-color: $light-blue;
  		box-shadow: $button-shadow;
  	}
  	#learn-more:hover{
  		background-color: #84001d;
  	}
  	#start-a-project:hover{
  		background-color: $dark-blue;
  	}
}

 @media (max-width: 520px) {
  	#splash{
  		h1{
  			margin-top: 100px;
  		}
  	}
  }
#what-is{
	.call-to-action{
		margin-top: 110px - 21px;
		text-align: center;
		.usa-width-one-half{
			max-width: 324px + 172px;
			padding: 21px 86px;
			h3{
				color: $dark-blue;
				font-size: 15px;
			}
			img{
				width: 324px;
				height: 119px;
				margin-top: 31px;
				margin-bottom: 57px;
			}
		}
		#department-of-commerce{
			border-right: solid 1px #979797;
			p{
				min-height: 243px;
			}
		}
	}
}

#in-action{
	.usa-width-one-third{
		color: white;
		margin-top: 40px;
		border: solid 2px #F6F6F6;
		background-color: rgba(#004469, .2);
		padding: 40px 22px;
		margin-right: 13px;
		p{
			font-size: 15px;
			min-height: 154px;
		}
		img{
			width: 283px;
			height: 202px;
			margin: auto;
		}
		h3{
			font-size: 18px;
			font-weight: 600;
			letter-spacing: .2px;
		}
		li{
			text-transform: uppercase;
			font-size: 12px;
			list-style: none;
			img{
				height: 24px;
				width: auto;
				margin-right: 6px;
				margin-left: -35px;
			}
		}
	}
	.usa-width-one-third:hover{
		@include hoverable;
	}
}

#in-the-media{
	a{
		display: inline-block;
	}
	.usa-width-one-third{
		margin-top: 31px;
		border: solid 1px $gray;
		padding: 40px 25px;
		h3{
			color: $light-blue;
			text-transform: none;
			margin-bottom: 0px;
		}
		img{
			width: 275px;
			height: 108px;
		}
		p{
			margin-top: 0px;
			min-height: 81px;
		}
	}
	.usa-width-one-third:hover{
		@include hoverable;
	}
}

#projects-head{
	padding-top: 86px;
	h1, p{
		color: black;
	}
	p{
		margin-bottom: 25px;
		font-size: 20px;
	}
}

#gallery-body{ 
	margin-top: 43px;
	.project:hover{
		@include hoverable;
	}
	.project{
		max-width: 737px;
		border: solid 2px $gray;
		margin-right: 14px;
		margin-bottom: 28px;
		padding: 22px 22px;
		img{
			width: 237px;
			float: right;
			margin-top: -30px;
		}
	h2{
		color: black;
		font-size: 22px;
		width: 100%;
		float: left;
		margin-bottom: 6px;
	}
	p{
		width: 373px;
		float: left;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 14px;
		color: $gray;
	}
}
	@media (max-width: 720px) {
		.project{
			text-align: center;
			h2{
				float: none;
				width: 100%;
				margin-bottom: 20px;
			}
			p{
				float: none;
				width: 100%;
			}
			img{
				float: none;
				margin-top: 20px;
			}
		}
	}
}

.filters-div{
	h2{
		text-transform: uppercase;
		font-size: 13px;
		font-family: 'Source Sans Pro', sans-serif;
		margin-bottom: 13px;
	}
	button{
		padding: 7px 0px;
		width: 130px;
		min-width: 0px;
		min-height: 0px;
		font-size: 13px;
		text-transform: uppercase;
		border-radius: 5px;
		background-color: white;
	}
	.filter{
		color: $light-blue;
		border: solid 2px $light-blue;
	}
	.showAll{
		color: $red;
		border: solid 2px $red;
	}
}
#playbook-nav{
	text-align: right;
	top: calc(60vh - 269px);
	position: fixed;
	left: calc(100vw - 280px);;
	li{
		min-width: 200px;
		font-size: 15px;
		list-style: none;
		display: block;
		margin-bottom: 19px;
		height: 25px;
		color: black;
		font-weight: 200;
	.dark-circle, .light-circle{
		margin-left: 17px;
		height: 25px;
		width: 25px;
		border-radius: 25px;
		margin-bottom: -8px;
	}
	.current-circle{
		background-color: $light-blue;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	}
	.dark-circle{
		border: solid 1px $dark-blue;
	}
	.light-circle{
		border: solid 1px white;
	}
	div{
		display: inline-block;
	}
	}
}
#intro{
	margin-top: 0px;
	padding-bottom: 99px;
	h1{
		font-size: 25px;
		margin-bottom: 9px;
		color: black;
		margin-top: 129px;
		font-weight: 600;
	}
	h2{
		font-size: 82px;
		margin-top: 9px;
		margin-bottom: 33px;
		font-weight: 600;
		letter-spacing: .43px;
	}
	p{
		margin-top: 0px;
		max-width: 584px;
		font-size: 20px;
	}
	button{
		margin-top: 72px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50)
	}
	#learn-more{
		background-color: $dark-blue;
	}
}
.playbook-section{
	padding: 81px 0px;
	 .checklist{
 		li{
		 	padding-left: 32px;
 		}
 	}
	h3{
		font-size: 15px;
		text-transform: uppercase;
		font-family: 'Source Sans Pro', sans-serif;
	  	font-weight: 100;
	  	letter-spacing: .025px;
	  	margin-bottom: 0px;
  	}
  	h1{
  		color: black;
  		font-size: 40px;
  		margin-top: 13px;
  		margin-bottom: 26px;
  		max-width: 654px;
  	}
  	p{
  		max-width: 588px;
  		font-size: 20px;
  		line-height: 30px;
  	}
  	hr{
  		background-color: #979797;
  		max-width: 738px;
  		margin-top: 1px;
  		border: none;
    	height: 1px;
    	margin-bottom: 13px;
  	}
  	.resources{
  		margin-top: 58px;
  		display: block;
  	}
  	hr + p { 
		font-size: 15px;
		line-height: 19px;
		font-weight: 100;
		margin-top: 0px;
	}
	.final-word{
		text-align: right;
		max-width: 737px;
		font-size: 15px;
		margin-top: -10px;
	}
	.usa-accordion{
		border: 0px;
		li{
			background-color: white;
		}
	}

	.usa-accordion li:last-child{
		margin-bottom: 11px;
	}
	.usa-accordion-button{
		max-width: 737px;
		background-color: white;
		border: solid 3px $light-blue;
		font-size: 15px;
		background-size: 8px;
	}
	.usa-accordion-content{
		border: 0px;
	}
	.accordion-intro{
		font-size: 13px;
		margin-bottom: 11px;
		line-height: 17px;
		margin-top: 23px;
	}
	#timeline{
		margin-top: 43px;
		max-width: 478px;
		li{
			list-style: none;
			margin-bottom: 0px;
			width:478px;
			display: block;
			clear: both;
			padding: 0;
		}
		.circle{
			width: 14px;
			height: 14px;
			border-radius: 7px;
			float: left;
			background-color: white;
			border: 3px solid $light-blue;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
			margin-top: 23px;
			z-index: 2;
		}
		p{
			display: inline;
		}
		.time{
			float: left;
			text-align: right;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 600;
			padding-right: 16px;
			min-width: 92px;
		}
		.description{
			padding-top: 20px;
			max-width: 359px;
			display: block;
			font-size: 15px;
			line-height: 19px;
			border-left: solid 3px white;
			padding-left: 18px;
			margin-left: -9px;
			float: left;
			z-index: 0;
			padding-bottom: 23px;
			margin-top: 0px;
			margin-bottom: -10px;
		}
		#week1{
			.circle{
				margin-top: -5px;
			}
			.time{
				margin-top: -8px;
			}
			p{
				padding-top: 0px;
				margin-top: -2px;
			}
		}
		#week9-10{
			.description{
				margin-bottom: -30px;
			}
		}
		#week11-12{
			.description{
				border-left: none;
			}
		}
		#timeline-afterword{
			border-left: none;
			font-style: italic;
			margin-left: 100px;
			font-weight: 200;
			margin-bottom: 70px;
		}
	}
	#simple-list{
		li{
			list-style: none;
			margin: 0;
			p{
				margin: 0;
			}
		}
	}
	#roles{
		display: block;
		margin-top: 100px;
		margin-bottom: 50px;
		hr{
			margin-bottom: 23px;
		}
	}
	.role{
		clear: both;
		margin-bottom: 17px;
		img{
			width: 91px;
			float: left;
			margin-right: 33px;
		}
		.description{
			float: left;
			h4{
				text-transform: uppercase;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 600;
				letter-spacing: .28px;
				font-size: 17px;
				margin: 0px;
			}
			p{
				font-size: 17px;
				margin: 0px;
				max-width: 254px;
				letter-spacing: .28px;
				line-height: 22px;
			}
		}
		ul{
			float: left;
			li{
				font-weight: 100;
				font-family: 'Source Sans Pro', sans-serif;
  				list-style-type: circle;
				margin-left: 13px;
				max-width: 321px;
				letter-spacing: .25px;
				line-height: 21px;
				font-size: 17px;
				margin: 0px;
			}
		}
	}
}

.blue{
	background-color: $dark-blue;
	color: white;
	p{
		color: white;
	}
	h1,h2,h3{
		color: white;
	}
	.checklist{
  		li{
  			list-style-image: url("../img/checkbox-white.png");
  		}
  	}
}
.white{
	.checklist{
  		li{
  			list-style-image: url("../img/checkbox-black.png");
  		}
  	}	
}
.resource{
	margin-bottom: 39px;
	h1{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		font-size: 18px;
		margin-top: 8px;
		margin-bottom: 6px;
	}
	p{
		font-size: 15px;
		line-height: 19px;
		font-weight: 100;
		margin-top: 0px;
	}
	a{
		display: block;
		height: 172px;
	}
	a:hover{
    	box-shadow: 0px 0px 15px rgba(0,0,0,.5);
	}
	img{
		width: 100%;
		height: 172px;
	}
}

.scenario{
	display: block;
	max-width: 737px;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	padding: 1px 30px 15px 1px;
	color: black;
	margin-bottom: 22px;
	h2{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
		color: black;
	}
	li{
		list-style: none;
		font-size: 13px;
		font-weight: 100;
	}
}
.read-more-state {
  display: none;
}

.read-more-target {
  display: none;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  display: block;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more +';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less -';
}

.read-more-trigger {
  font-size: 15px;
  color: black;
  cursor: pointer;
  padding: 0 .5em;
  font-weight: 600;
  font-size: .9em;
  line-height: 2;
  text-align: right;
}

label{
	max-width: none;
	margin-top: 0px;
}

// uswds dotted focuses have g2g
*:focus,
.usa-focus {
  outline: 0px;
  outline-offset: 0px;
}

[type=radio]:focus + label::before {
  outline: 0px;
  outline-offset: 0px; }

[type=checkbox]:focus + label::before {
  outline: 0px;
  outline-offset: 0px; }

a:focus {
   outline: 0px;
   outline-offset: 0px; }

.usa-nav-primary button:focus, .usa-nav-primary button:active {
      box-shadow: 0px;
  }

  footer{
	height: 300px;
	background-color: $dark-blue;
	color: white;
	padding-top: 91px;
	img{
		width: 108px;
		margin-right: 34px;
		float: left;
	}
	img:hover{
		opacity: .8;
		cursor: pointer;
	}
	#census-logo{
		margin-top: 30px;
	}
	ul{	
		margin-top: 1em;
		color: #F6F6F6;
		float: left;
		text-transform: uppercase;
		li:first-child{
			font-weight: 400;
		}
		li{
			font-size: 14px;
			list-style: none;
			line-height: 1;
			font-weight: 100;
			a, a:visited{
				text-decoration: none;
				color: #F6F6F6;
			}
			a:hover{
				color: #F6F6F6;
				opacity: .7;
			}
		}
	}
	#images{
		float: right;
	}
}

#section-07{
	border-bottom: solid 3px white;
}
#see-more-scenarios:hover, #see-more-data:hover{
	cursor: pointer;
	opacity:.8;
}
.hidden{
	display: none;
}
#form-a-team{
	h3{
		padding-top: 50px;
	}
	h3:first-child{
		padding-top: 0px;
	}
	margin-top: -100px;
}
.data-inventory{
	table{
		width: 737px;
		margin-left: -20px;
		font-size: 15px;
		a:visited{
			color: $light-blue;
		}
	}
}
.data-hidden{
	display: none;
}
#see-more-data{
	margin-top: 11px;
}
#scroll-to-top{
	position: fixed;
	text-align: center;
}
#scroll-to-top:hover{
	opacity: .6;
	cursor: pointer;
}
#Container .mix {
  display: none;
}
.filters-div{
	.active{
		color: white;
		background-color: $light-blue;
	}
	.active.showAll{
		color: white;
		background-color: $red;
	}
}
#helpUs p:hover{
	opacity: .8;
	cursor: pointer;
}
#helpUs p{
	font-size: 15px;
}